html,
body {
  height: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#student-info {
  max-width: 480px;
  padding: 1rem;
  /* display: none; */
}

#quizz-container {
    max-width: 960px;
    padding: 1rem;
    display: none;
}

#result-container {
    max-width: 480px;
    padding: 1rem;
    display: none;
}